pkgbase = arch-setup
	pkgdesc = A collection of Arch linux system settings
	pkgver = 1.0.0.r16.g8463dbf
	pkgrel = 1
	url = https://github.com/user827/arch-setup.git
	install = arch-setup.install
	arch = any
	license = Apache
	makedepends = git
	depends = yay
	depends = shlib
	depends = pacman-contrib
	depends = reflector
	depends = smtp-server
	depends = smtp-forwarder
	depends = lsof
	depends = audit
	depends = smartmontools
	depends = etckeeper
	depends = sec
	depends = lm_sensors
	depends = lighttpd
	optdepends = courier-maildrop
	backup = etc/sec.d/crit.sec
	backup = etc/security/limits.d/arch-setup.user.conf
	source = arch-setup::git+file:///home/tina/repo/github/arch-setup?signed
	validpgpkeys = D47AF080A89B17BA083053B68DFE60B7327D52D6
	sha256sums = SKIP

pkgname = arch-setup
