[Unit]
Description=Check for aur updates
After=network.target nss-lookup.target

[Service]
Type=oneshot
ExecStart=/usr/lib/mysystem/aur
TimeoutStartSec=5m
