[Unit]
Description=Check for aur updates daily

[Timer]
OnCalendar=daily
Persistent=true
AccuracySec=1h
# TODO should be variable
RandomizedDelaySec=8h

[Install]
WantedBy=timers.target
