[Unit]
Description=sec daemon for journal (warn)
After=basic.target

[Service]
ExecStart=/usr/lib/arch-setup/secwarn.sh

[Install]
WantedBy=multi-user.target

